header{
  position: static;
  width: auto;
  transform: none;
}

header img{
  position: static;
  mix-blend-mode: normal;
  opacity: 1;
  width: 75vw;
  height: 50vh;
  object-fit: cover;
  object-position: top center;
  border-radius: 10%;
  margin: 3em 0;
}

header p{ 
  margin-top: 0;
}

nav ul{
  background:white;
  width: 90vw;
  padding: 30px;
  flex-direction: column;
  margin: 10vh auto;
}

nav ul li a{
  transform: none;
  padding: 12px 0;
  border-radius: 7px;
  width: 100%;
}

h1{
  font-size: 40px;
}

main{
  margin: 0;
}

form div{
  flex-direction: column;
}

nav{
  bottom: 0;
  background: rgba(0,0,0,.8);
  z-index: 3;
  right: auto;
  left: -100vw;
  width: 100vw;
  transition: .5s;
}

nav:target{
  left: 0vw;
}

#abrir,
#cerrar{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: none center center/contain no-repeat;
  font-size: 0;
  }

#abrir{
  display: block;
  background-image:url(abrir.png);
  filter: invert(1);
}
#cerrar{
  display:none;
  background-image:url(cerrar.png);
  filter: invert(1);
}

#menu:target #abrir{
  display: none;
} 
#menu:target #cerrar{
  display: block;
}

#button1 {
  font-size: 0.9em;
  width: 100%;
  display: block;
  padding: 0.3em;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  background: rgb(2,0,36);
  background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 46%, rgba(6,64,198,1) 100%);
  color: white;
}

#button2{
  width: 100%;
  margin-top: 80px;
  display: block;
  padding: 16px 0;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  background: rgb(2,0,36);
  background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 46%, rgba(6,64,198,1) 100%);
  color: white;
}