#home p {
  font-size: 20px;
  font-weight: bold;
  }
  *{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  header{
    background-image: url(./assets/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 48vw;
    position: fixed;
    padding: 10vw;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1); 
  }
  
  header img{
    position: absolute;
    width: auto;
    height: 60vh;
    bottom: 0;
    margin-bottom: 13rem;
    border-radius: 70px;
  }
  
  header p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 32em;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.8px;
    }
  
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    z-index: 1;
    font-size: 50px;
    margin-bottom: .5em;
  }
  
  h2,
  h3{
    font-family: 'Monserrat', sans-serif;
    font-weight: normal;
    margin: 0 0 10px;
    font-size: 30px;
  }
  
  main{
    margin-left: 48vw;
  }
  
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
  }
  
  nav ul li a{
    display: block;
    padding: 3px 10px 8px;
    border-radius: 0 0 5px 5px;
    background: rgb(0, 234, 255);
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    transform: translateY(-19px);
    transition: 0.12s;
  }
  
  nav ul li:hover a{
    color: white;
    transform: translateY(0);
    background: rgb(2,0,36);
    background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 46%, rgba(6,64,198,1) 100%);
    transition: 0.5s;
  }
  section{
    min-height: 100vh;
    padding: 30px 50px;
    overflow: hidden;
    background-color: rgb(0, 234, 255);
  }
  
  section:nth-child(2){
    display: flex;
    flex-direction: column;
    color: white;
    background: url(./assets/123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
  article {
    margin-bottom: 50px;
  }
  article p{
    font-size: 21px;
  }
  article div {
    font-size: 23px;
  }
  
  #button1 {
    font-size: 0.9em;
    width: 20em;
    display: block;
    padding: 0.3em;
    text-align: center;
    border-radius: 20px;
    margin: 30px 0 50px 0;
    text-decoration: none;
    background: rgb(2,0,36);
    background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 46%, rgba(6,64,198,1) 100%);
    color: white;
  }
  
  #button1:hover {
    transition: .5s;
    box-shadow: 0 0 10px black;
    transform: scale(1.03);
  }

  #button2 {
    font-size: 0.9em;
    width: 50%;
    display: block;
    padding: 0.3em;
    text-align: center;
    border-radius: 20px;
    margin: 30px 0 0 30px;
    text-decoration: none;
    background: white;
    color: black;
  }
  
  #button2:hover {
    transition: .5s;
    box-shadow: 0 0 10px black;
    transform: scale(1.03);
    background-color: rgb(0, 234, 255);
  }

  #button3 {
    width: 20em;
    margin-top: 80px;
    display: block;
    padding: 16px 0;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    background: rgb(2,0,36);
    background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 46%, rgba(6,64,198,1) 100%);
    color: white;
  }
  
  #button3:hover{
    transition: .6s;
    box-shadow: 0 0 15px black;
    transform: scale(1.03);
  }
  
   #Skills{
    width: 100%;
    display: grid;
    flex-direction: column;
    margin: 70px 0 0 20px;
    padding: auto;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
  }
  
  #Skills a{
    font-size: 1.5em;
    width: 60%;
    height: 80%;
    color: white; 
    background-color: black;
    padding: .5em 1em;
    margin: 10px 0px 5px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }

#Skills>* {
    flex: 1 1 160px;
}

#Skills a:hover{
    transform: scale(1.06);
    box-shadow: 0 0 5px black;
    transition: 0.3s;
  }

  #abrir,
  #cerrar{
    display: none;
  }
  
  #Contact {
    font-size: 20px;
  }
  
  #Contact h2 {
    font-size: 30px;
  }
  
  #links {
    display: flex;
    flex-direction: column;
    padding: 10px 2px;
    font-size: 26px;
    width: 800px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0px;
    color: black;
  }
  
#links a{
  width: 160px;
  background-color: black;
  height: auto;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
}

#links a:hover {
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
  }

  .devicon-javascript-plain:hover {
color: yellow;
  }
  .devicon-html5-plain:hover {
    color: red;
  }
  .devicon-css3-plain:hover {
    color: rgb(45, 45, 255);
  }
.devicon-react-original:hover{
  color: rgb(127, 223, 255);
}
.devicon-mysql-plain:hover {
  color: orange;
}
.devicon-mongodb-plain:hover {
  color: greenyellow;
}
.devicon-figma-plain:hover {
  color: orangered
}
.devicon-git-plain:hover{
  color: rgb(213, 56, 56);
}
.devicon-fastapi-plain:hover{
  color: aqua;
}

#Projects h2{
  margin-bottom: 50px;
}

#Projects i {
  font-weight: bold;
}
#Projects p {
  font-weight: bold;
}

#Projects {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
}
#Projects>* {
  flex: 1 1 60px;
}

#Projects article {
  width: 70%;
  height: 25%;
}

#Projects img {
  margin: 20px 0 0 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#Projects img:hover {
  transform: scale(1.07);
  transition: 0.35s;
}

#weatherapp img{
  width: 200px;
  height: 320px; 
}

#memotest img, #portfolio img, #calculator img {
  width: 320px;
  height: 180px;
}

#stepform img{
  width: 200px;
  height: 320px;
}

#crypto img {
  width: 200px;
  height: 320px; 
}